.containr{
    padding:20px;
    box-shadow: 0 0 10px ;
    margin:0 auto;
    margin-bottom:20px;
    max-width:700px;
    border-radius: 2%;
    font-family: 'Work Sans', sans-serif;
}
h1{
    font-family: 'Lato', sans-serif;
}
input{
    padding:5px;
    border-radius: 10px;
    border:1px solid #ccc;

}
button{
    margin-top: 15px;
    padding:10px;
    border-radius: 5px;
    background-color: rgb(93, 238, 120);
    border:1px solid #ccc;
    cursor:pointer;
    transition:background-color .3s ease;
}
button:hover{
    background-color:rgb(57, 119, 69)
}
p{
    font-weight:bold;
    font-size:1.2rem;

}
